
ul li{
    width: 500px;
    margin: 0 auto ;
    list-style: none;
}
.xBtn{
    opacity: 0.1;
}
.xBtn:hover{
    opacity: 1;
}
.inputLine{
    width: 500px;
    margin: 0 auto ;
    
}
input{
    border: none;
    width: 100%;
}
